.active-ticket-head{
    height: 150px;
    width: 100vw;
    position: relative;
    background-image: url('../Assets/BG/photo-1514519334989-3d5c8b1a9f91.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.active-ticket-head div{
    position: absolute;
    height: 40px;
    bottom: 20px;
    width: 100vw;
    text-align: center;
    /* border: solid black; */
    /* left: calc(40vw); */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 45px;

    color: #FFFFFF;
}

.active-ticket-list{
    height: 80vh;
    min-height: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ticket-li{
    padding-top: 1%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius:  10px;
    height: 140px;
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    transition: .5s;
}
.ticket-li:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);

}
.left-ar{
    width: 40%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
}
.type-indc{
    height: 30%;
    padding: 0 0 0 10%;
    border-top-left-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;

    color: #585858;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #585858;
}
.type-indc img{
    display: inline-block;
    height: 50%;
    margin-right: 5%;
}
.destination-indc{
    height: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.destination-indc div{
    padding: 0 0 0 10%;
    margin: auto 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
.mid-ar{
    width: 20%;
    height: 100%;

    display: flex;
    flex-direction: column;
}
.details{
    align-items: center;
    text-align: center;
    padding: auto;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
}
.destination-details{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 5%;
}
.destination-details div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
}
.right-ar{
    margin-left: 5%;
    width: 35%;
    height: 100%;
    

    border-radius:  0 10px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.block{
    height: 40px;
    border-radius: 10px;
    width: 60%;
    margin: 5px auto;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .5s;
}
.economy{
    
    background-color: #00A010;
}
.economy:hover{
    background-color: #01740c;
}
.business{
    background-color: #0035EF;
}
.business:hover{
    background-color: #00229e;
}
.resched{
    background-color: #FFD600;
}
.resched:hover{
    background-color: #9f8500;
}
.suite{
    background-color: #FC6A00;
}
.suite:hover{
    background-color: #ab4700;
}

.ref-resc-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;
}
.ref-resc-area .title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;

    color: #000000;
}
.ref-resc-area .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
}
.buttons .button-1
{
    width: 45%;
    border-radius: 10px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
}
.button-1 div{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    /* line-height: 47px; */
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000; 

}
.button-1 img{
    width: 20%;
}
.color-change-1{
    background-color: #8AEA72;
    transition: .5s;

}
.color-change-1:hover{
    background-color: #5cc542;
}
.color-change-2
{
    background-color: #F6CA58;
    transition: .5s;
}
.color-change-2:hover{
    background-color: #c09a3c;

}
.replacer{
    display: none;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    width: 100%;
}
.replacer .destination-indc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.replacer .destination-indc img{
    height: 50%;
    margin-right: 15px;
}
.replacer .destination-indc div{
    width: fit-content;
    padding: 0 0 0 0 !important;
    /* margin: 0 auto; */
    height: 100%;
}
.replacer .destination-details{
    height: 60%;
    margin: none;
    padding: 0;
}

@media only screen and (max-width: 1406px) {
    .button-1 div{
        font-size: 26px;
    }
}

@media only screen and (max-width: 1344px) {
    .right-ar{
        display: none;
    }
    .mid-ar{
        width: 50%;
    }
    .left-ar{
        width: 50%;
    }
    
}

@media only screen and (max-width: 1050px) {
    .destination-indc div{
        font-size: 30px;
    }
    .type-indc, .details{
        font-size: 18px;
    }
}

@media only screen and (min-width: 1200px) {
    .button-1 img{
        width: 15%;
    }
}

@media only screen and (max-width: 788px) {
    .left-ar, .mid-ar, .right-ar{
        display: none;
    }
    .replacer{
        display: flex;
    }
}
@media only screen and (max-width: 667px) {
    .button-1 div{
        font-size: 18px;
    }
}

@media only screen and (max-width: 430px) {
    .active-ticket-head div{
        font-size: 25px;
    }
}

@media only screen and (max-width: 418px) {
    .replacer .destination-indc div{
        font-size: 20px !important;
    }
}
@media only screen and (max-width: 411px) {
    .button-1 div, .button-1 img{
        display: inline-block;
        /* height: 50%; */
    }
    .button-1 div{
        height: 75%;
        line-height: normal;
    }
    .button-1 img{
        height: 25%;
        margin-bottom: 10px;
    }
    .button-1{
        flex-direction: column !important;
        justify-content: center;
    }
    .button-1 div{
        font-size: 16px;
    }
}
