@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body, html{
    background-color: white;

    margin: 0;
    padding: 0;

    width: 100vw;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
nav{
    position: fixed;
    z-index: 1000;
    height: 70px;
    width: 100%;
    background: rgba(55, 55, 55, 0.5);
    backdrop-filter: blur(25px);
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
}
.nav-left-area{
    width: 30%;
    float: left;
    margin: 5px 10px 5px 25px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.nav-left-area img{
    float: left;
    /* display: inline-block; */
}
.nav-right-area{
    float: right;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.nav-right-area a, .nav-right-area button{
    margin: 0 10px;
}
.nav-right-area button{
    height: 100%;
}
.menu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.menu a{
    text-decoration: none;
    color: #F6A139 !important;
}
.menu a:visited, .menu a:hover{
    text-decoration: none;
    color: #F6A139 !important;
}
.menu .choices{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #F6A139 !important;
}
.menu .selector{
    width: 0;
    height: 5px;
    margin: 0;
    background-color: #F6A139;
    box-shadow: 0px -4px 20px #FFC107;
    transition: .5s;
}

.is-activated{
    text-shadow: 0 0 20px yellow;
    transition: .5s;
}
.isnt-activated
{
    text-shadow: none;
    transition: .5s;
}
.isnt-activated:hover{
    text-shadow: 0 0 20px yellow;

}


.custom-body2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.profile{
    height: 100px;
    width: 100px;
    background-image: url('../Assets/Logo/UserLogo.svg');
    background-size: cover;
}
.profile-name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
    margin-top: 20px;
}
.mail{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;

    color: #000000;

}
.phone-num{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    display: flex;
    align-items: center;
    text-align: center;

    color: rgba(0, 0, 0, 0.8);

}
.money-area{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.money-area div{
    display: inline-block;
}
.frst{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

}
.scnd{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

}
.line-create{
    border: solid black;
    width: 80%;
}
.title-2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
.card-img{
    height: 150px;
    width: 50%;
    background-image: url('../Assets/Picture/vecteezy_credit-card-clipart-design-illustration_9398850_913.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

a, a:hover{
    text-decoration: none !important;
    color: #000000 !important;

}
.btn{
    /* margin: auto !important; */
    margin-bottom: 2.5px !important;
}
.del-acc-btn{
    width: 80%;
    height: 50px;
    border-radius: 10px;
    background-color: #E36C64;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000 !important;

    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    transition: .5s;
}
.del-acc-btn:hover{
    background-color: #792d27;

}
.lg-out{
    transition: .5s;
    background-color: #D3C695;
}
.lg-out:hover{
    background-color: #7c7043;

}

.custom-body{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    height: fit-content;
}
.language-area{
    /* height: 75px; */
    margin: 10px 0 10px 0;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.language-area-2 img{
    width: 40px;
    margin-right: 20px;
}
.language-area-2{
    border-radius: 10px;
    padding: 0 20px;
    margin: 5px 0 5px 0;
    width: 70%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    transition: .5s ;
}
.language-area-2:hover{
    background-color: white;
}
.main-TL{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: left;

    color: #000000;
}
.to-Change{
    border-radius: 5px;
    width: 25%;
    height: 100%;
    background-color: #D9D9D9;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: auto;
    color: #000000;
}
.to-Change:hover{
    cursor: pointer;
}
.offcanvas{
    background: rgba(216, 216, 216, 0.75) !important;
    backdrop-filter: blur(5px) !important;
}

.language-area-2:hover{
    cursor: pointer;
}
@media only screen and (max-width: 1200px){
    .choices{
        font-size: 20px !important;
    }
    .selector{
        display: none;
    }
}
@media only screen and (max-width: 990px){
    .choices{
        display: none !important;
    }
    .nav-left-area{
        width: 50%;
    }
    .nav-right-area{
        width: 50%;
    }
}
@media only screen and (max-width: 425px){
    .nav-left-area{
        margin-left: 10px;
        width: 40%;
    }
    .nav-left-area img{
        /* scale: 0.75; */
        object-fit: cover !important;
        width: 100%;
    }
     .nav-right-area{
        margin-right: 0;
        width: 60%;
        /* overflow-x: hidden; */
        
        /* scale: 0.75; */
        /* right: 0; */
    }
    
    nav{
        justify-content: space-evenly !important;
    }
    
    /* .nav-right-area button, .nav-right-area a{
        width: calc(100%/3);
        align-items: center;
    } */
}

@media only screen and (max-width: 400px){
    .input-area-1 img{
        display: none;
    }
    .input-area-1 input{
        width: 100%;
    }
}


@media only screen and (max-height: 650px)
{
    .line-create{
        display: none;
    }
}
@media only screen and (max-height: 585px)
{
    .title-2, .card-img{
        display: none;
    }
}
@media only screen and (max-height: 520px)
{
    .hide{
        display: none;
    }
}
@media only screen and (max-height: 420px)
{
    .mail, .phone-num{
        display: none;
    }
}

@media only screen and (max-height: 400px)
{
    .profile{
        display: none;
    }
}